body{
  background: url('/src/upurple.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -5;
}
.App{
  position: relative;
  top: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
  
}
#to-do-form input{
  position: relative;
  top: 10px;
  right: -18px;
  background-color: rgba(28, 14, 71, 0.9);
  color: rgba(255, 255, 255, 0.6);
  width: 200px;
  height: 40px;
  margin: 10px auto;
  padding: 0 20px;
  border:rgb(0, 0, 0) ;
  border-radius: 5px;

}
#to-do-form input::placeholder{
  
  color: rgba(255, 255, 255, 0.9);
}
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  position: relative;
  top: 10px;
  right: -40px;
  padding-right: 10px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(108, 68, 169);
  cursor: pointer;
  font-weight: bolder;
  color: white;
  
  
}
#to-do-form button:hover{
  background-color: rgba(28, 14, 71, 0.8);
}