.list{
    position:relative; 
    top: 20px;
    color: azure;
    width: 300px;
    background-color: rgba(67, 63, 70, 0.6);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p{
    position: relative;
    padding: 10px;

}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}

.list p input {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    color: #fff;
    font-size: 15px;
}
.list p input:focus {
    outline: none;
}
